@{
    ViewData["Title"] = "AdminPanel";
}

<h1>Panel administracyjny</h1>
<p style="font-size:8px">Dotknięcie przez nieupoważnione osoby grozi wyrokiem długoletniego więzienia.</p>
<hr />
<p>@ViewData["Message"]</p>
<a asp-controller="Admin" asp-action="AddImageForm">Dodaj obrazek</a>