@model Farm.Models.Equipment
@{
	ViewData["Title"] = "Ekwipunek";
    List<PlantsCount> plantsCount = ViewData["PlantsCounts"] as List<PlantsCount>;
}

<div class="equipment" id="equipment">
	<script>
		let index = 1;
		function createCell(item, type)
		{
			let cell_div = document.createElement("div");
			cell_div.className = "equipment_cell";
			if (type === "collected")
				cell_div.style.backgroundColor = "navajowhite";
				let plant_div = document.createElement("div");
					let cell_image = document.createElement("img");
					cell_image.id = `${type}_${index++}`;
					cell_image.src = `/images/${item.plant}.png`;
					cell_image.draggable = false;
					cell_image.width = 80;
					cell_image.height = 80;
				plant_div.append(cell_image);
			cell_div.append(plant_div);
			document.getElementById("equipment").append(cell_div);
		}

		let seeds = JSON.parse(localStorage.getItem("seeds"));
		let collected_plants = JSON.parse(localStorage.getItem("collected_plants"));
		for (let item of seeds)
			if (item.profile_id == profile_id)
				createCell(item, "seed");
		document.write("<br/>");
		for (let item of collected_plants)
			if (item.profile_id == profile_id)
				createCell(item, "collected");
	</script>
	
</div>
<div style="clear: both"></div>
<br/>
<div class="stats">
	<div>
		<p> Dotychczas zebrano: </p>
	</div>
	@foreach(PlantsCount pc in plantsCount)
	{
		<p> @pc.AllCollected - @Farm.Utils.Extensions.ToPolish(pc.PlantName) </p>
	}
</div>